#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid red;
}

section {
  text-align: left;
}

.section-header {
  margin-left: 16px;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 235px);
  padding: 16px;
  gap: 16px;
}

.card-accomplishments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 200px;
  height: 300px;
}

.card-accomplishments .card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.card-accomplishments .card-footer .card-footer-info {
  display: flex;
  flex-direction: column;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical;
}

/* Ranking */

.ranking-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.ranking-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
}

.ranking-container {
  background-color: #f3f3f3;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 90%;
  width: calc(100vw - 4rem);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding-inline: 2rem;
}

.ranking-body {
}
